{{MESSAGE}}

<form action="index.php?action=login" method="POST">
	<table> 
		<tr> 
			<td>Username:</td>
			<td><input type="text" name="username" id="username" maxlength="20" size="20" class="login-fields" /><td/>
		</tr>
		<tr>
			<td>Passwort:</td>
			<td><input type="password" name="passwort" id="passwort" maxlength="20" size="20" class="login-fields" /></td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td><input type="submit" value="Einloggen" name="submitLogin" id="loginButton" /></td>
		</tr>
	</table>
</form>