{{MESSAGE}}
<h4>Passwort ändern </h4>
<form action="index.php?action=profile" method="POST">

<table> 
		<tr> 
			<td>altes Password:</td>
			<td><input type="password" name="oldPW" id="oldPW" maxlength="20" size="20" class="login-fields" /></td>
		</tr>
		<tr>
			<td>Passwort:</td>
			<td><input type="password" name="pw1" id="pw1" maxlength="20" size="20" class="login-fields" /></td>
		</tr>
		<tr>
			<td>PW wiederholen:</td>
			<td><input type="password" name="pw2" id="pw2" maxlength="20" size="20" class="login-fields" /></td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td><input type="submit" value="Passwort ändern" name="submitPW" id="submitPW" /></td>
		</tr>
	</table>
</form>
<br />
<hr />
<h4>Einträge </h4>
Hier sehen Sie alle ihre Einträge:
<form name="deleteform" id="deleteform" action="index.php?action=entrydelete" method="POST">
{{ENTRIES}}
	<input type="hidden" id="entryid" name="entryid" value="" />
</form>