{{ERROR_MESSAGE}}

Damit Sie Einträge im Gästebuch schreiben können, benötigen Sie ein Benutzerkonto. <br />
Mittels dem untenstehenden Formular können Sie ihr Benutzerkonto registrieren. <br /> <br />

<form action="index.php?action=register" method="POST">
	<table> 
		<tr> 
			<td>Username:</td>
			<td><input type="text" name="username" id="username" maxlength="1000" size="20" class="login-fields" value="{{username}}" /><td/>
		</tr>
		<tr> 
			<td>E-Mail:</td>
			<td><input type="email" name="email" id="email" maxlength="1000" size="20" class="login-fields" value="{{email}}" /><td/>
		</tr>
		<tr> 
			<td>Vorname:</td>
			<td><input type="text" name="vorname" id="vorname" maxlength="1000" size="20" class="login-fields" value="{{vorname}}" /><td/>
		</tr>
		<tr> 
			<td>Nachname:</td>
			<td><input type="text" name="nachname" id="nachname" maxlength="1000" size="20" class="login-fields" value="{{nachname}}" /><td/>
		</tr>
		<tr>
			<td>Passwort:</td>
			<td><input type="password" name="passwort1" id="passwort1" maxlength="1000" size="20" class="login-fields" value="{{pw1}}" /></td>
		</tr>
		<tr>
			<td>PW wiederholen:</td>
			<td><input type="password" name="passwort2" id="passwort2" maxlength="1000" size="20" class="login-fields" value="{{pw2}}" /></td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td><input type="submit" value="registrieren" name="submitRegister" id="registerButton" /></td>
		</tr>
	</table>
</form>