/*
 Lukas Müller
 22.04.2013

 */

html {
	height: 101%;
}
body {
	margin: 0;
	padding: 0;
	background: #C5DA99;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #787878;
}
#wrapper {
	padding-top: 50px;
	width: 1000px;
	margin: 0px auto;
}


h1 {
	font-size: 2em;
}
h2 {
	margin-top: 10px;
	text-transform: uppercase;
	font-size: 2.8em;
	margin-bottom: 20px;
	letter-spacing: -2px;
	font-family: sans-serif;
	font-weight: 200;
}
h3 {
	font-size: 1.6em;
	margin-bottom: 10px;
}
p, ul, ol {
	margin-top: 0;
	line-height: 180%;
}
a {
	text-decoration: underline;
	color: grey;
}
#content {
	margin: 50px auto 10px auto;
	padding: 10px 10px 40px 50px;
	background: #FFFFFF;
	float: left;
	width: 940px;
	font-family: Helvetica, Arial; /*CHANGE THIS*/
	font-size: 18px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

#nav{
	padding: 10px 5px;
	font-size: 24pt;
	font-weight: 600;
	color: #D4FFB3;
	background-width: 1000px;
	margin: 0;
	background: green;
	font-family: sans-serif;	 
	height: 50px; 
	width: 1000px;
}

#nav td{
	width: 100%;
}

#nav a {
	width: 120px;
	float: left;
	text-align: center;
	padding: 12px 15px;
	text-decoration: none;
	color: #555;
	text-shadow: 0 1px 0 rgba(255,255,255,.5);
	line-height: 20px;
	font-size: 14px;
	font-family: Arial, Helvetica;
	font-weight: bold;
	letter-spacing: 1px;
	text-transform: uppercase;
	border-width: 1px;
	border-style: solid;
	border-color: #fff #ccc #999 #eee;
	background: #c1c1c1;
	background: -moz-linear-gradient(#f5f5f5, #c1c1c1);
	background: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#c1c1c1));
	background: -webkit-linear-gradient(#f5f5f5, #c1c1c1);
	background: -o-linear-gradient(#f5f5f5, #c1c1c1);
	background: -ms-linear-gradient(#f5f5f5, #c1c1c1);
	background: linear-gradient(#f5f5f5, #c1c1c1);
}

#nav a:hover, nav a:focus{
	outline: 0;
	color: #fff;
	text-shadow: 0 1px 0 rgba(0,0,0,.2);
	background: #9FFA54;
	background: -moz-linear-gradient(#9FFA54, #63BD1E);
	background: -webkit-gradient(linear, left top, left bottom, from(#9FFA54), to(#63BD1E));
	background: -webkit-linear-gradient(#9FFA54, #63BD1E);
	background: -o-linear-gradient(#9FFA54, #63BD1E);
	background: -ms-linear-gradient(#9FFA54, #63BD1E);
	background: linear-gradient(#9FFA54, #63BD1E);
}

#nav a:active {
	-moz-box-shadow: 0 0 2px 2px rgba(0,0,0,.3) inset;
	-webkit-box-shadow: 0 0 2px 2px rgba(0,0,0,.3) inset;
	box-shadow: 0 0 2px 2px rgba(0,0,0,.3) inset;
}


#footer {
	height: 60px;
	font-family: 'Abel', sans-serif;
	letter-spacing: 1px;
	line-height: normal;
	font-size: 14px;
	text-transform: uppercase;
	text-align: center;
	color: grey;
}
#footer a:first-child {
	color: grey;
	text-decoration: none;
}
#footer a {
	color: grey;
	text-decoration: underline;
}
#note {
	width: 200px;
	background-color: #F7FF0A;
	padding: 15px;
	box-shadow: 10px 10px 15px 4px #000, -0.5px -0.5px 0px 1px white;
	-webkit-box-shadow: 10px 10px 15px 4px #000, -0.5px -0.5px 0px 1px white;
	-o-box-shadow: 10px 10px 15px 4px #000, -0.5px -0.5px 0px 1px white;
	-ms-box-shadow: 10px 10px 15px 4px #000, -0.5px -0.5px 0px 1px white;
	border-style: outset;
	border-width: 1px;
	border-color: #F7FF0A;
	cursor: pointer;
	-webkit-transform: rotate(-5deg);
	-moz-transform: rotate(-5deg);
	-ms-transform: rotate(-5deg);
	-o-transform: rotate(-5deg);
}
#note:hover {
	width: 200px;
	background-color: #00FF2F;
	padding: 15px;
	box-shadow: 10px 10px 15px 4px #000;
	-webkit-box-shadow: 10px 10px 15px 4px #000;
	border-style: outset;
	border-width: 1px;
	border-color: #00FF2F;
}


.center-text{
	text-align: center;
	
}
/* REMOVE THIS WHEN EVERYTHING IS DONE */
.TODO {
	background-color: #CCF500;
	margin-bottom: 20px;
	margin-top: 20px;
}

#name{
	text-align: right;
	float: right;
}

.entries{
	border-style: solid;
	border-width: 1px;
	border-color: grey;
	margin: 10px 10px;
}

.entries p{
	font-size: 12pt;
	margin:0;
	line-height:1.2;
}

/*Die Nachricht*/
.entries p:last-child{
	margin: 20px 10px;
	font-size: 14pt;
	font-style: italic;
}

.actionIcons{
	text-align: right;
	float: right;
	font-style: none;
}

/* ============ F L A S H - M E S S A G E S - S T Y L I N G ============*/

div.flash-error, div.flash-notice, div.flash-success, div.information{
	margin-right: 50px;
	margin-bottom: 20px;
	padding:.8em;
	border:2px solid #ddd;
}

div.flash-error{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success, div.information, div.information b, div.information p, div.information li{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.information ul{
	margin-left:4px;
}

div.flash-error a{
	color:#8a1f11;
}

div.flash-notice a{
	color:#514721;
}

div.flash-success a, div.information a{
	color:#264409;
}

div.error{
	background:#FBE3E4;
	color:#8a1f11;
	border: 2px solid #FBC2C4;
	padding:0 0 0 15px;
}

div.error pre{
	color:#8a1f11;
}